extends base
block content
  .container__popup
    button.popup-btn.btn__nobg.btn__link-form.btn__link(type='submit') Forgot your password?
    .popup(id='popup')
      .heading__title=title 
      p.text__small We will send you an email to reset your password
      button.btn__nobg.btn__submit.btn__link.submit-btn(type='button') Submit
