extends base
block content
  main.main
    .login-form
      span.heading__title=title
      form.form.reset
        .form-group
          label(for='newPassword') New Password 
          input#newPassword-reset(type='password', placeholder='********', required)
        .form-group
          label(for='confirmPassword') Confirm Password
          input#confirmPassword-reset(type='password', placeholder='********', required)
        .form-group
          button.btn__nobg.btn__submit.btn__link.login-btn(href='/#') Change password